# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db

# Test / coverage
.pytest_cache/
.coverage
htmlcov/
/rsl_turn_sequencing.zip
/.pytest_tmp/
/runs/
